/* reseteo css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-color: #5167d713;
}

h1 {
    height: 150px;
    text-align: center;

}


.menu__barraNavegacion__items a,
.menu__vitrina a,
.footer__redes a,
.footer_contactos a {
    text-decoration: none;
    color: rgb(250, 249, 249);
}


ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #080505;
}

#navbarSupportedContent ul li a {
    color: aliceblue;

}

#navbarSupportedContent ul li a:hover {
    color: #5168d7;
}

#carritoC {
    font-size: 25px;
}


img {
    max-width: 100%;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    text-align: justify;
}

/* =========barra navegacion======= */
.navbar-nav {
    gap: 40px;
}

.navbar-brand {
    width: 400px;
    height: 100px;
}

.bg-nav {
    background-color: #151f42;
}

.bg-icon,
.navbar-toggler {
    background-color: white;
}



@media (hover: hover) {
    a:hover {
        color: #5168d7;
    }
}


/* ============vitrina virtual=========== */

.tarjeta {
    width: 350px;
    height: 500px;
    background-color: #5167d72f;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.tarjeta__cuerpo {
    display: grid;
    padding: 5px;
}

.tarjeta img {
    width: 100%;
    height: 100%;
}

.vehiculos__btn {
    background-color: rgba(4, 97, 236, 0.123);
    font-size: 1.5rem;
    border-radius: 15px;
    transform: scale(0.5);
    height: 100%;
    border-color: #080505;
}

.vehiculos__btn button:hover {
    background-color: darkslategray;
    color: aliceblue;
}

.referencia {
    display: none;
}

.tarjeta button:hover {
    background-color: #151f42;
    color: aliceblue;
}

.menuvitrina {
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
    gap: 20px;
    translate: 0 -80px;

}

.menuvitrina__buscar {
    position: absolute;
    padding: 5px;
    translate: 480px;

}

.menuvitrina__buscar input {
    width: 0px;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: #152131;
    outline: none;
    border: 1px solid aliceblue;
    border-radius: 30px;
    transition: all 0.6s ease;
}



.menuvitrina__buscar__btn {
    position: absolute;
    top: 0;
    right: 0;
    background: #151f42;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.menuvitrina__buscar:hover input {
    width: 240px;
}

.menuvitrina__buscar input:focus {
    width: 240px;
}


#id-particulares {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}


@media (min-width: 300px) and (max-width: 1020px) {
    .menuvitrina__buscar {
        translate: 0 -20px;
    }
}

/* =========indicadores carouser información======== */
.carousel-control-next-icon {
    background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon{
    background-image : url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}




/* ==========footer========== */

footer {
    background: #151f42;
    display: flex;
    justify-content: space-between;
    grid-area: footer;
    margin-top: 50px;
}

.logoFooter {
    width: 180px;
    height: 180px;
}

.mapafooter {
    width: 200px;
    height: 200px;
}